<nav class="nav" id="navbar">
  <span><a id="navSongs" class="nav-link" href="/">Library</a></span>
  <span><a id="navProfile" class="nav-link" href="#">Profile</a></span>
  <span><a id="navPlaylist" class="nav-link" href="#">Playlists</a></span>
  <span><a id="navAddSong" class="nav-link" href="/create-song">Add a Song</a></span>
  <span><a id="navRecentlyDeleted" class="nav-link" href="/recently-deleted-songs">Recently Deleted</a></span>
  <span>
    <a href="/change-theme" class="nav-link">
      {% if current_theme == 'dark' %}
        Light Mode
      {% else %}
        Dark Mode
      {% endif %}
    </a>
  </span>
</nav>