body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif, Arial;
    text-align: center;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.hide {
    display: none;
}

.nav {
    text-align: center;
    padding: 15px 0;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid white;
}

.nav-link {
    margin: 0 8px;
    color: lightgrey;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: grey;
}

.undo-delete a:visited {
    color: blue;
}

.main-title {
    margin: 75px 0 15px 0;
}

.table-normal table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    margin: 20px auto 80px auto;
}

.table-normal td, th {
    padding: 15px 25px;
    width: 75px;
}

/* Buttons */

.button {
    border: 1px solid;
    border-radius: 20px;
    background-color: lightgray;
    color: black;
    padding: 5px 20px;
    margin: 10px 0;
    cursor: pointer;
    max-width: 150px
}

.above-table .button{
    width: 135px;
}

.button:hover {
    background-color: DarkGray;
}

.update {
    background-color: lightyellow;
}

.update:hover {
    background-color: #D5D5BC;
}

.delete {
    background-color: lightpink;
}


.delete:hover {
    background-color: #CB939C;
}

.restore {
    background-color: lightblue;
}

.restore:hover {
    background-color: #88AAB5;
}

.delete2 {
    background-color: red;
    border: 1px solid red;
    color: white;
}

.delete2:hover {
    background-color: maroon;
    border: 1px solid maroon;
    color: white;
}

.table-button {
    width: 80px;
    padding: 5px 0px;
}

.button-box {
    max-width: 200px
}


.add {
    background-color: lightgreen;
}

.add:hover {
    background-color: #88AAB5;
}

/* Forms */

.change-theme-form {
    display: inline-block;
}

.form-container {
    width: 200px;
    margin: 20px auto;
}

.form-group {
    width: 200px;
    margin: 5px 0;
}

.form-field {
    width: 90%;
    border: 1px solid;
    border-radius: 2px;
    margin: 5px 0px 5px 0;
    padding: 7px 10px;
    text-align: center;
}

.error {
    color: red;
}

.dark .hyperlink a {
    color: cyan;
}

 {

}