{% extends 'base.html' %}
{% block title %}Library{% endblock %}

{% block content %}
<div class="main-title">
    <h1>Library</h1>
</div>
<div>
    {% if song_count == 1 %}
        There is {{ song_count }} song in library
    {% else %}
        There are {{ song_count }} songs in library
    {% endif %}
</div>
<div class="above-table">
    <a href="/create-song"><input type="button" value="ADD SONG" class="button"></a>
    <a href="/delete-all-songs"><input type="button" value="DELETE ALL" class="button delete"
                                       onclick="return deleteAllConfirm({{ song_count|tojson }})"></a>
</div>
{% if deleted_song_id %}
    <div class="undo-delete">
        <a href="/undo-delete-song/{{ deleted_song_id }}">Undo Delete</a>
    </div>
{% endif %}
<div class="table-normal">
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Track</th>
                <th>Cover</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i, song in song_list %}
                <tr>
                    <td id="song_number">{{ i }}</td>
                    <td>{{ song.name }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album }}</td>
                    <td>{{ song.track }}</td>
                    <td>{{ song.cover }}</td>
                    <td>
                        <a href="{{ url_for('update_song', song_id=song.id) }}">
                            <input type="submit" value="Update" class="button table-button update">
                        </a>
                    <td>
                        <form action="{{ url_for('delete_song', song_id=song.id) }}" method="POST">
                            <input type="submit" value="Delete" class="button table-button delete"
                                           onclick="return deleteConfirm({{ i|tojson }})">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>

</div>

{% endblock %}