{% extends 'base.html' %}
{% block title %}Recently Deleted{% endblock %}

{% block content %}
<div class="main-title">
    <h1>Recently Deleted</h1>
</div>
<div class="above-table">
    {% if song_list[0] %}
        <a href="/restore-all-songs"><input type="button" value="RESTORE ALL" class="button restore"></a>
    {% endif %}
    <a href="/permanent-delete-all-songs"><input type="button" value="DELETE ALL" class="button delete"
    onclick="return permanentDeleteAllConfirm({{ song_count|tojson }})"></a>
</div>
<div class="table-normal">
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Track</th>
                <th>Cover</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i, song in song_list %}
                <tr>
                    <td id="song_number">{{ i }}</td>
                    <td>{{ song.name }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album }}</td>
                    <td>{{ song.track }}</td>
                    <td>{{ song.cover }}</td>
                    <td>
                        <form action="{{ url_for('restore_song', song_id=song.id) }}" method="POST">
                            <input type="submit" value="Restore" class="button table-button restore">
                        </form>
                    </td>
                    <td class="button-box">
                        <form action="{{ url_for('permanent_delete_song', song_id=song.id) }}" method="POST">
                            <input type="submit" value="Delete" class="button table-button delete"
                                           onclick="return permanentDeleteConfirm({{ i|tojson }})">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}